<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Shop</title>
    <base href="http://127.0.0.1:5500/">
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <img src="static/images/BG.jpg" alt="background" class="background">
    <header>
        <div class="logo">
            <a href="/templates/index.html#"><img src="static/images/7580679.png" alt="logo"></a>
        </div>
        <nav class="Nav">
            <ul>
                <li><a href="templates/index.html#">Главная</a></li>
                <li><a href="templates/index.html#">Выгодное предложение</a></li>
                <li><a href="templates/index.html#allproductionBox">Предложения</a></li>
                <li><a href="templates/index.html#news">Новости</a></li>
            </ul>
        </nav>
        <div class="LogIn">
            <button class="LogInButton">А</button>
            <div class="LogInMenu">
                <div class="LogInMenu2">
                    <button>A</button>
                    <a href="/templates/index.html#" class="MkADeposit"> 0 руб. </a>
                    <a href="/templates/index.html#" class="MkADeposit2">   Пополнить счёт</a>
                    <a href="/templates/index.html#"  class="NotDeposit">Отслеживание заказов</a>
                    <a href="/templates/index.html#"  class="NotDeposit">Настройки</a>
                    <a href="/templates/index.html#"  class="NotDeposit">Выйти</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="HotSale">
            <div class="TextHS">
                <h1>Выодное предложение <br><span> Огромная коробка</span></h1>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque ipsa eos, omnis et exercitationem iusto quae quis asperiores similique repellat suscipit quod doloremque quibusdam perferendis earum ut quam impedit magni rem deleniti id harum! Ut fugiat quaerat eaque animi quidem blanditiis iusto, nesciunt facere iste ullam. Quam saepe eaque quisquam? <br> <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi neque velit culpa, magni ab eum explicabo! Cupiditate maxime voluptate ea molestiae! Perferendis, quis quam eum eaque quibusdam atque sit adipisci id quae nesciunt officia pariatur illo excepturi quisquam maiores fuga rerum tempora aperiam ullam voluptatibus facilis, odit maxime minima.
                </p> 
                <h4>Скидка 40% 719,99 <br> Раньше стоило: <del>1199.99</del> руб.</h4>
                <form action="/templates/index.html#">
                    <button class="HSpropose">Заказать</button>
                </form>
               
            </div>
            <div class="imageHS">
                <img src="static/images/Noname (1).png" alt="HSimg">
            </div>
        </div>
        <div class="AllproductionBox" >
            <div id="allproductionBox"></div>
            <div class="Allpproduction">
                <div class="ProdBox">
                    <div class="ProductionImage">
                        <img src="static/images/Noname (1).png" alt="production">
                    </div>
                    <div class="TextAP">
                        <h2>Огромная коробка</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit illum voluptate non dolores praesentium deleniti, aliquam ullam fugit ipsum, quasi reiciendis possimus iure assumenda sapiente?</p>
                        <h4 class="cost">719,99 <br> -40% <del>1199.99</del> руб.</h4>
                        <form action="/templates/index.html#">
                            <button class="productionButton">Заказать</button>
                        </form>
                    </div>
                </div>
                <div class="ProdBox">
                    <div class="ProductionImage">
                        <img src="static/images/Noname (1).png" alt="production">
                    </div>
                    <div class="TextAP">
                        <h2>Большущая коробка</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit illum voluptate non dolores praesentium deleniti, aliquam ullam fugit ipsum, quasi reiciendis possimus iure assumenda sapiente?</p>
                        <h4 class="cost">649.99 руб.</h4>
                        <form action="/templates/index.html#">
                            <button class="productionButton">Заказать</button>
                        </form>
                    </div>
                </div>
                <div class="ProdBox">
                    <div class="ProductionImage">
                        <img src="static/images/Noname (1).png" alt="production">
                    </div>
                    <div class="TextAP">
                        <h2>Обычная коробка</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit illum voluptate non dolores praesentium deleniti, aliquam ullam fugit ipsum, quasi reiciendis possimus iure assumenda sapiente?</p>
                        <h4 class="cost">499.99 руб.</h4>
                        <form action="/templates/index.html#">
                            <button class="productionButton">Заказать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="News">
            <div id="news"></div>
            <a href="" class="News1">
                <div class="imgNews">
                    <img src="static/images/Noname (2).png" alt="NewsImg">
                </div>
                <div class="TextNews">
                    <h3>News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quod provident quos placeat, iusto blanditiis...</p>
                </div>
            </a>
            <a href="" class="News2">
                <div class="imgNews">
                    <img src="static/images/Noname (4).png" alt="NewsImg">
                </div>
                <div class="TextNews">
                    <h3>News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quod provident quos placeat, iusto blanditiis...</p>
                </div>
            </a>
            <a href="" class="News3">
                <div class="imgNews">
                    <img src="static/images/Noname (3).png" alt="NewsImg">
                </div>
                <div class="TextNews">
                    <h3>News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quod provident quos placeat, iusto blanditiis...</p>
                </div>
            </a>
            <a href="" class="News4">
                <div class="imgNews">
                    <img src="static/images/Noname (2).png" alt="NewsImg">
                </div>
                <div class="TextNews">
                    <h3>News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quod provident quos placeat, iusto blanditiis...</p>
                </div>
            </a>
        </div>
    </main>


    <footer>
        <p>copyright by proexsidno 2022</p>
    </footer>
</body>
</html>